* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 10px;
  padding-block: 1rem;
  flex-wrap: wrap;
}

.note{
  background-color: #222222;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
}